a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 0.25rem;
}

.item {
  @extend .flex;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.badges {
  @extend .flex;
  margin-right: 0.25rem;
}

.badge {
  display: grid;
  margin-right: 0.25rem;
}

.name {
  @extend .flex;
  font-weight: 700;
  margin-right: 0.25rem;
}

.message {
  word-break: break-word;
}

.emote {
  margin: -0.5rem 0;
  object-fit: contain;
}
